{% extends 'base.html.twig' %}

{% block title %}Mother index{% endblock %}

{% block body %}
    <h1>Mother index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mother in mothers %}
            <tr>
                {{ dump(mother) }}
                <td>{{ mother.id }}</td>
                <td>{{ mother.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mother_new') }}">Create new</a>
{% endblock %}
