{% extends 'base.html.twig' %}

{% block title %}New Mother{% endblock %}

{% block body %}
    <h1>Create new Mother</h1>

    {{ include('mother/_form.html.twig') }}

    <a href="{{ path('app_mother_index') }}">back to list</a>
{% endblock %}
